<div>
  <p>Dear <%= @user.first_name %>,</p>
  
  <p>Classwork '<%= @classwork.title %>' has been uploaded to your classroom: <%= @classwork.classroom.title %>.</p>
  
  <p>Best regards,<br>
  The SuperTeacher Team</p>
</div>
